.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-size: 3rem;
    margin: 0.5rem;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
  }
}
